section(id='about', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h3.title
        | About Microsoft Users Group Hyderabad
    p.content
        | A few years ago, an idea was born it was and is still popularly known as DNUG
        | (DotNET Users Group) Hyderabad, which today has matured and stands in front of
        | you transformed as Microsoft Users Group Hyderabad aka MUGH.
        br
        br
        | Although MUGH started life as DNUG (.NET Users Group), we felt that various
        | Microsoft technologies function so well in concert with each other and our
        | earlier name did restrict our scope to just one of them. Today we have special
        | groups branched into various fields under MUGH, namely DNUG (a dot net user group),
        | IT Pro (a user group for it community), SQLCon (India's first SQL community),
        | a student’s group and supports various other user groups from different regions.
        br
        br
        | MUGH is operated by a core group that consists of Microsoft MVPs and Community Stars.
        | Microsoft often helps us in conducting our activities that include user group meetings,
        | developer conferences, annual events.
        br
        br
        | Presently, MUGH's user group meetings are held once every month,
        | you need to be a MUGH member to attend these meets.
hr
section(class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3.title
                | Events
            p.content
                script(src='http://feeds.feedburner.com/mughblog?format=sigpro&nItems=6', type='text/javascript')